#portfolio-root{
  position: fixed;
  display: flex;
  height: 100dvh;
  width: 100vw;
  background-color: #f6f0ea;
  color: #000;
  justify-content: center;
  align-items: center;

  #inner-page{
    position: relative;
    border: 2px #000 solid;
    padding: 20px;
    width: 80%;
    height: 87%;
    display: flex;
    justify-content: end;
    align-items: end;
    overflow: hidden;

    header{
      position: fixed;
      top: 5dvh;
      left:10vw;

    }

    #portfolio-nav{
      z-index: 5;
      #vert-translate-nav{
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        translate:-50% -50%;
        transition: transform 1s;

        button{
          text-align: left;
          font-size: 10vh;
          color: #000;
          font-family: "Josefin Sans", sans-serif;
          font-weight: 700;
          font-style: italic;
          background: none;
          border: none;
        }
        button:hover{
          color: gray;
          position: relative;
          left: 10px;
        }
      }
      .nav-up{
        transform: translateY(-300%)
      }

      #hori-translate-nav{
        position: fixed;
        bottom: 1dvh;
        left: 1%;
        display: flex;
        flex-direction: column;
        transition: transform 1s;

        button{
          text-align: left;
          font-size: 2vh;
          font-family: "Josefin Sans", sans-serif;
          font-weight: 700;
          font-style: italic;
          background: none;
          border: none;
          rotate: -90deg;
          width: 1%;
          height: 10vh;
        }
        button:hover{
          color: gray;
          position: relative;
        }
      }
      .nav-left{
        transform: translateX(-200%)
      }
    }

    #portfolio-about{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      transition: transform 1s;

      #portfolio-about-header{
        display: flex;
        position: absolute;
        overflow: hidden;
        top: 20px;
        right: 20px;
        left: 20px;
        height: 200px;
        transition: transform 1s;
  
        img{
          position: absolute;
          right: 0px;
          height: 100%;
          object-fit: contain;
        }
        h1{
          font-size: 7vh;
          font-family: "Josefin Sans", sans-serif;
          font-weight: 700;
          font-style: italic;
        }
      }
      #portfolio-about-body{
        position: absolute;
        top: 220px;
        bottom: 20px;
        right: 20px;
        left: 20px;
        transition: transform 1s;
      }
    }

    #portfolio-projects{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      transition: transform 1s;

      #portfolio-projects-header{
        position: absolute;
        overflow: hidden;
        top: 20px;
        right: 20px;
        left: 20px;
        height: 100px;
        transition: transform 1s;

        h1{
          font-size: 7vh;
          font-family: "Josefin Sans", sans-serif;
          font-weight: 700;
          font-style: italic;
        }
      }
      #portfolio-projects-body{
        position: absolute;
        top: 120px;
        bottom: 20px;
        right: 20px;
        left: 20px;
        transition: transform 1s;

        .project-card{
          text-align: end;
          
          h5{
            font-size: 5vh;
            font-family: "Josefin Sans", sans-serif;
            font-weight: 400;
            font-style: italic;
            margin: 0;
          }
          ul li{
            list-style-type: none;
          }
        }
      }
    }

    #portfolio-contact{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      transition: transform 1s;

      #portfolio-contact-header{
        position: absolute;
        overflow: hidden;
        top: 20px;
        right: 20px;
        left: 20px;
        height: 100px;
        transition: transform 1s;

        h1{
          font-size: 7vh;
          font-family: "Josefin Sans", sans-serif;
          font-weight: 700;
          font-style: italic;
        }
      }
      #portfolio-contact-body{
        position: absolute;
        top: 120px;
        bottom: 20px;
        right: 20px;
        left: 20px;
        transition: transform 1s;
      }
    }

    #portfolio-resume{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      transition: transform 1s;

      #portfolio-resume-header{
        position: absolute;
        overflow: hidden;
        top: 20px;
        right: 20px;
        left: 20px;
        height: 100px;
        transition: transform 1s;

        h1{
          font-size: 7vh;
          font-family: "Josefin Sans", sans-serif;
          font-weight: 700;
          font-style: italic;
        }
      }
      #portfolio-resume-body{
        position: absolute;
        top: 120px;
        bottom: 20px;
        right: 20px;
        left: 20px;
        transition: transform 1s;
      }
    }
    .body-up{
      transform: translateY(-150%)
    }
    .body-down{
      transform: translateY(150%)
    }
    .header-up{
      transform: translateY(-200%)
    }
  }

  h1{
    margin: 0px;
  }
}

@media only screen and (min-width: 48em) {

}

@media only screen and (min-width: 64em) {

}

@media only screen and (min-width: 80em) {

}